.btn {
    padding: 5px 20px;
    background: #eee;

font-size: 15px;
    margin-right: 5px;
    border: none;
}


.btn.blue{
    background: blue;
    color: white;
}

.btn.red{
    background: red;
    color: white
}

.btn.green{
    background: green;
    color: white
}

.btn.lime{
    background: lightgoldenrodyellow;
    color: gray
}